// VARIABLES FOR TESTWORK
$font-paragraph: 'IBM Plex Mono', monospace;
$font-title: 'Fira Sans', sans-serif;

$font-small: 1rem;
$font-medium: 1.3rem;
$font-text: .6rem;

$text-light: #fafafa;
$text-dark: #212121;

$primary: #1a237e;
$primary-light: #534bae;
$primary-dark: #000051;

$secondary: #ad1457;
$secondary-light: #e35183;
$secondary-dark: #78002e;

$gray-light: #F5F5F6; 
$gray-dark: #E1E2E1;

$padding-container: 5rem;
$padding-default: 2rem;
//VARIABLES FOR TESTWORK ENDS